* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  font-family: 'Montserrat', sans-serif;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* these are defaults but you can import fonts from google for free @fonts.google.com! */
}

.blue-text{
  color:cornflowerblue;
  font:Times;
}

.white-text{
  color:aliceblue;
  font:Times;
}

#pink-background{
  background-color:pink;
  font:Times;
}

